export COMMON_ENVIRONMENT=local
export SPEC_FILE=./.config.yml

# must match the db credentials in .config.yml
export ETHERSTATS_POSTGRES_DSN=postgres://etherscan:etherscan@localhost:5432/etherscan?sslmode=disable
export DATABASE_URL=${ETHERSTATS_POSTGRES_DSN} # to run migrations